.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1.1rem;
	color: white;
}

.footer__media-icons {
	padding-block: 8px;
	display: flex;
	justify-content: center;
	gap: 30px;
	list-style: none;
}

.footer_copyright {
	padding-block: 6px;
	background-color: var(--blue-color);
}
