@import url(normalize.css);
@import url(header.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--main-color: rgba(243, 245, 252, 1);
	--blue-color: rgb(10, 56, 113);
	--gray-color: rgba(216, 223, 232, 1);
	background-color: var(--main-color);
	font-size: 10px;
	font-family: 'Inter', sans-serif;
}

html,
body {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	min-height: calc(100dvh - 75.7px - 90.7px);
	padding-right: 50px;
	padding-left: 15dvw;
	gap: 30px;
}

.main__result {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 32px;
	width: 30dvw;
	max-height: 75dvh;
	text-align: center;
	box-shadow: 2px 8px 8px rgba(128, 128, 128, 0.25);
}

.main__result-out-button {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.main__image {
	width: 95%;
	height: 45%;
}

.main__result-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 40px;
	height: auto;

	h3 {
		font-size: 2.4rem;
	}

	p {
		margin: 20px;
		font-size: 1.6rem;
		object-fit: contain;
		overflow-wrap: anywhere;
	}
}

.main__input-box {
	font-size: 3.2rem;
	color: var(--blue-color);
	background-color: var(--main-color);
	border: none;
	height: 75%;
	max-width: 45dvw;
}

.main__input-box:focus {
	outline: none;
	/* border: 2px solid var(--gray-color); */
}

.main__tips {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 1.2rem;
	color: rgba(73, 80, 87, 1);
}

.main__buttons {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	transition-delay: 0.4s;
	justify-content: space-evenly;
}

button {
	width: 20dvw;
	height: 45px;
	border-radius: 15px;
	font-size: 1.6rem;
	border-width: 1px;
	border-color: var(--blue-color);
}

button:hover {
	scale: 1.08;
	cursor: pointer;
}

.btn-encrypt {
	color: white;
	background-color: var(--blue-color);
}

.btn-decrypt {
	color: var(--blue-color);
	background-color: var(--gray-color);
}

#copy-button {
	margin-top: 20px;
}

.unavailable {
	display: none;
}

@media (480px < width <= 800px) {
	.main {
		flex-direction: column;
	}
	button {
		width: 30dvw;
	}

	.main__image {
		display: none;
	}

	.main__result {
		margin-bottom: 20px;
		width: 100%;
	}

	.main__input {
		height: 55dvh;
		width: 100%;
	}

	.main__input-box {
		flex: 1;
	}

	.main__input {
		display: flex;
		flex-direction: column;
	}

	#copy-button {
		margin-bottom: 20px;
	}

	.main__result-text {
		margin-bottom: 10px;
	}
}
